div 
  router-outlet
    //- div.min-h-screen.flex.flex-row.w-full
    //-   div.basis-80.bg-violet-200

//- (*ngIf="isAuthenticated")
//- div(*ngIf="!isAuthenticated")
//-   div.min-h-screen.flex.flex-row.width-full 
//-     div.flex.flex-row.w-full
//-       div.basis-full.bg-violet-200 
//-       router-outlet


