
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


* { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
* { font-family: 'Inter var', sans-serif; }
}


.basisHalf {
    @apply basis-1/2;
}

.formInput {
    @apply input w-full p-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 shadow shadow-indigo-200;
}

.formInputHover {
    @apply hover:shadow-md hover:shadow-indigo-200;
}

.sidebarHover {
    @apply hover:bg-white hover:text-violet-600;
}

.App {
  text-align: none !important
}

.formInput {
  @apply input input-bordered w-96 max-w-xs text-black placeholder-gray-800 bg-white;
}

.formInputModal {
  @apply input input-bordered w-full text-gray-500 placeholder-gray-400 bg-white;
}

.formSelect {
  @apply select select-bordered w-full text-gray-500 placeholder-gray-600  bg-white;
}

.modalButton { 
  @apply btn btn-md bg-yellow-600 border-0 capitalize shadow-lg;
}

.customTooltip {
  @apply tooltip tooltip-open tooltip-warning
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
